@import url(//fonts.googleapis.com/earlyaccess/notonaskharabic.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #fafafa;
    font-family: Roboto, sans-serif;
}

[lang="ar"] {
    direction: rtl;
    font-size: 24px;
    font-family: 'Noto Naskh Arabic', Calibri, serif;
}

[lang="en"] {
    font-family: Roboto, sans-serif;
}

.pt-3-half {
    padding-top: 1.4rem;
}

textarea {
    width: 100%;
}

.isnotexact {
    color: orange;
}

.isnotfound {
    color: red;
}

.word:hover {
    background-color: lemonchiffon;
}

.table-editable {
    background-color: white;
}

.pt-3-half {
    padding-top: 1.4rem;
}

.h1-r {
    font-size: 24px;
}

.jumbotron h1 {
    font-size: 2em;
}

.def-box {
    background-color: white;
    margin: 0.5em;
    padding: 1em;
    border: 2px solid blue;
}

.tippy-content {
    max-height: 300px;
    max-width: 300px;
    overflow-y: auto;
    text-align: left;
    direction: ltr;
}

img.demo {
    object-fit: cover;
    object-position: 100%;
    width: 100%;
    height: 181px;
}

.media img {
    object-fit: cover;
    width: 100%;
    height: 240px;
    padding-bottom: 20px;
}

.media .source {
    text-align: left;
}

@media (min-width: 768px) {
    .media img {
        object-fit: cover;
        height: 100px;
    }

    .media .source {
        text-align: right;
    }

}

.deleted {
    text-decoration: line-through;
}

.update {
    color: gray;
    font-size: 24px;
}

.update .enabled {
    color: red;
}